body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.button{
    background-color: coral;
    border-radius: 1rem;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button:hover{
    background-color: #333;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    border-radius: 25px;
    background-color: #f4f4f4;
    margin: 5% auto;
    padding: 20px;
    width: 70%;
    height: 70%;
    box-sizing: 0 5px 8px 0 rgba(0,0,0,0.17);
}

.close-btn{
    cursor: pointer;
    color: #ccc;
    float: right;
    font-size: 30px;
}